.container{
    margin-inline: auto;
    margin-top: 300px;
}

body{
    width: 100%;
    display: flex;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 10px;
}

#minus, #plus {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 40px;
    font-size: 70px;
}

#reset, #start-stop {
    padding: 30px 90px 30px 60px;
    font-size: 20px;
}

#count {
    padding-inline: 150px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 70px;

}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}